@media screen and (min-width: 992px) {
    
    .section {
        max-width: 1140px;
        width: 100%;
        padding: 0 60px;
        margin: 0 auto; 
    }   
    
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .header_logo img{
        width: 73px;
        height: 32px;
        margin-top: 35px;
    }
    
    .hamburger_menu {
        display: none;
    }

    .header {
        width: 100%;
        height: 100px;    
    }

    .header_nav {
        margin-top: 24px;
    }
    
    .navigation {
        display: inline;              
    }

    .navigation  li {
        display: inline-block;
        list-style: none;
        padding: 8px 10px;        
    } 

    .navigation  a {
        color: #000;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
    }    
    
    .btn { 
        display: block;       
        padding: 10px 40px;
        background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
        border-radius: 5px;        
        font-weight: normal;
        cursor: pointer;
        color: #000;
        border: none;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: 30px;
        
    }

    .main_section {
        padding: 45px 0;
    }

    h1 {
        font-size: 56px;
        line-height: 56px;
    }

    p {
        font-size: 18px;
        margin: 25px 0 60px;
        line-height: 140.62%;
    }

    .btn-primary {
        font-size: 18px;
        padding: 19px 56px;
    }

    .Mobile_View, .Tablet_View {
        display: none;
    }   
        
    .Desktop_View {
        display: block;
    }

    .info-section {
        display: none;
    }    

    .info-section-tab-desk {
        display: block;             
    }
    

    .info-section-tab-desk .media_img {
        display: none;
    }
    
    .info-section-tab-desk .media_desk {
        display: block;
        float: left;
        padding-right: 136px;
        padding-top: 0;
    }
        
    h2 {
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin-top: 110px;
        padding-top: 54px;
    }
        
    .info-section-tab-desk .media_para {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin: 26px 0 0 0;
    }
    
    .info-section-tab-desk p {
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
        margin: 13px 0 0 0;
        text-align: justify;
    }
    
    .info-section-tab-desk a {
        font-size: 16px;
        line-height: 140.62%;
        text-decoration-line: underline;
        color: #798BFE;
        margin-top: 26px;
    }

    .training-section-1 h3 {
        font-size: 32px;
        line-height: 42px;
        color: #000000;
    }
    
    .training-section-1 p {
        font-size: 14px;
        line-height: 20px;
        /* color: #000000; */
        margin: 24px 0 0 0;
        text-align: left;
        font-style: normal;
        font-weight: normal;
    }

    .training-section-1 .training-span {    
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
    }       
       
    .training-section-1 .btn-secondary {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 36px;
        background: #798BFE;
        border-radius: 5px;
        border: 0;
        margin-top: 24px;
    }          
   
    .training-section-2 h3 {
        font-size: 32px;
        line-height: 42px;
        color: #000000;
    }
    
    .training-section-2 p {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin: 24px 0 0 0;
        text-align: left;
        font-style: normal;
        font-weight: normal;
    }

    .training-section-2 .training-span {    
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
    }       
       
    .training-section-2 .btn-secondary {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 36px;
        background: #798BFE;
        border-radius: 5px;
        border: 0;
        margin-top: 24px;
    }   
    
    .training-section {
        width: 100%;
    }
    .training-section-1 {
        width: 48%;
        float: left;
    }
    .training-section-2 {
        width: 48%;
        float: right;
    }    
    
    .footer-div-1-col-6 {
        display: none;
    }

    .footer-div-2-col-1 {
        display: block;
    }

    .footer-div-1 hr {
        display: none;
    }

    .footer-div-2 hr {
        display: block;
    }

    .footer {
        width: 100%;
    }

    .footer-div-1-col-1, .footer-div-1-col-2,
    .footer-div-1-col-3, .footer-div-1-col-4,
    .footer-div-1-col-5 {
        width: 20%;
        margin-top: 40px;
        float: left;
    }
    
    .footer-div-1-link {
        display: block;
    }

    .footer-div-1-link ul {
        padding-left: 0;
        list-style: none; 
        margin-top: 16px;
    }
    
    .footer-div-1-link  ul li {
        display:block;
    } 
    
    .footer-div-1-link a {    
        text-decoration: none; 
        font-size: 14px;
        line-height: 24px;   
    }

    .footer-div-2-col-1 {
        display: none;
    }

    .footer-div-2-col-3 {
        display: block;
     }

    .footer-div-2-col-3 ul{
        display: inline;

    }
    
    .footer-div-2-col-3 ul li {
        display: inline-block;
        list-style: none;
        padding: 14px 9px 12px 0;    
    } 
    
    .footer-div-2-col-3 ul a {    
        text-decoration: none;    
    }   
  
}    