.container-login {
  padding: 20px;  
  font-family: 'Ubuntu', sans-serif;
}

.login-form {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}

.register-form {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: 320px;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;  
}
  
.btn-secondary {
  background-color:#282c34;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}  
.btn-secondary:hover {
  opacity: 0.8;
}
  
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;  
}   
  
span.psw {
  float: left;
  padding-top: 16px; 
}

.forgot-label {
      padding: 10px 0 20px 0;
}

@media screen and (min-width: 526px) {
  .login-form {
    width: 350px;
  }

  .register-form {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {  
  .login-form {
    width: 400px;
  }  
  
  .register-form {
    width: 400px;
  }
  
}  
