* {
    margin: 0; 
    padding:0;
}

.main_table {
    border: 0px;    
    width: 100%;
}

.first_table {
    width: 600;   
    border: 0px; 
    margin: auto;  
    border-collapse: collapse;
}

#table_head {     
    background-color: black;
}
#head_img {
    padding-left: 200px;
}

#table_middle {
    background-color:"#ffffff";
    padding:40px 20px 0px;
} 

.sec_table {
    margin: auto;
    border: 0px;
    width: 600px;
}

#table_middle_sec {
    padding:40px 20px 10px;
    background-color:azure; 
    font-family: Arial, sans-serif; 
    font-size: 24px;
}

.middle_para {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.sec_first_table {    
    width:100%;
    border: 0px;
    margin: auto;    
    padding: 30px 30px;
}

.sec_first_table th {
    width:400px;
}

.sec_first_table p {
    text-align:left;
    font-size: 20px;
    padding: 20px 10px;                                              
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;      
}
.last_table {
    width: 600px;   
    border: 0px; 
    margin: auto;  
    border-collapse: collapse;
}
.last_table_tab {
    border: 0px;     
    padding: 30px 20px;
}